In [1]:
from bs4 import BeautifulSoup
from ipynb.fs.full.racing_tv_functions import *

import datetime
import json
import numpy as np
import pandas as pd
import re
import requests
import time

In [2]:
update_race_data(delay = 0.1)

'Date is already up to date.'

In [3]:
today_races = todays_data_df(delay = 0.1)

Collected race data for Ripon at 13:30
Collected race data for Ripon at 14:05
Collected race data for Ripon at 14:40
Collected race data for Ripon at 15:15
Collected race data for Ripon at 15:50
Collected race data for Ripon at 16:23
Collected race data for Ripon at 16:58
Collected race data for Ripon at 17:33
Collected race data for Epsom at 13:35
Collected race data for Epsom at 14:10
Collected race data for Epsom at 14:45
Collected race data for Epsom at 15:20
Collected race data for Epsom at 15:55
Collected race data for Epsom at 16:28
Collected race data for Epsom at 17:03
Collected race data for Cartmel at 14:20
Collected race data for Cartmel at 14:55
Collected race data for Cartmel at 15:30
Collected race data for Cartmel at 16:05
Collected race data for Cartmel at 16:43
Collected race data for Cartmel at 17:18
Collected race data for Chepstow at 13:53
Collected race data for Chepstow at 14:28
Collected race data for Chepstow at 15:03
Collected race data for Chepstow at 15:38
Collected race data for Chepstow at 16:13
Collected race data for Chepstow at 16:48
Collected race data for Chepstow at 17:23
Collected race data for Downpatrick at 13:58
Collected race data for Downpatrick at 14:33
Collected race data for Downpatrick at 15:08
Collected race data for Downpatrick at 15:43
Collected race data for Downpatrick at 16:18
Collected race data for Downpatrick at 16:53
Collected race data for Downpatrick at 17:28
Collected race data for Southwell at 13:45
Collected race data for Southwell at 14:15
Collected race data for Southwell at 14:50
Collected race data for Southwell at 15:25
Collected race data for Southwell at 16:00
Collected race data for Southwell at 16:33
Collected race data for Southwell at 17:08
Collected race data for Southwell at 17:38
Collected race data for Ballinrobe at 16:38
Collected race data for Ballinrobe at 17:13
Collected race data for Ballinrobe at 17:43
Collected race data for Ballinrobe at 18:13
Collected race data for Ballinrobe at 18:43
Collected race data for Ballinrobe at 19:13
Collected race data for Ballinrobe at 19:43
Collected race data for Ballinrobe at 20:13

In [4]:
horse_df = unpack_json_to_df('historical_horse_data.json')

In [5]:
cleaned_df = horse_df.dropna(subset=['Position'])
cleaned_df = cleaned_df.replace('N/A', np.nan)
cleaned_df[['Finishing Speed (%)', 'Top Speed Value (mph)']] = cleaned_df[['Finishing Speed (%)', 'Top Speed Value (mph)']].astype(float)

In [6]:
conditions = {}
id_list = cleaned_df['Race Id'].unique().tolist()
for race_id in id_list:
    conditions.update({race_id : finish_condition(cleaned_df, race_id)})

In [7]:
high_condition_dict, med_condition_dict, low_condition_dict = ({} for i in range(3))

for race_id in conditions.keys():
    condition_list = conditions[race_id]
    # Update dictionary with {race_id, mean + std}
    high_condition_dict.update({race_id : condition_list[0] + condition_list[1]})
    # Update dictionary with {race_id, mean + 0.8 * std}
    med_condition_dict.update({race_id : condition_list[0] + 0.8 * condition_list[1]})
    # Update dictionary with {race_id, mean + 0.5 * std}
    low_condition_dict.update({race_id : condition_list[0] + 0.5 * condition_list[1]})

In [8]:
high_fast_list = []
speed_list = cleaned_df['Finishing Speed (%)'].tolist()
id_list = cleaned_df['Race Id'].tolist()

for i in range(len(speed_list)):
    condition = speed_list[i] >= high_condition_dict[id_list[i]]
    if condition:
        high_fast_list.append(True)
    else:
        high_fast_list.append(np.nan)

In [9]:
med_fast_list = []

for i in range(len(speed_list)):
    condition = speed_list[i] >= med_condition_dict[id_list[i]]
    if condition:
        med_fast_list.append(True)
    else:
        med_fast_list.append(np.nan)

In [10]:
low_fast_list = []

for i in range(len(speed_list)):
    condition = speed_list[i] >= low_condition_dict[id_list[i]]
    if condition:
        low_fast_list.append(True)
    else:
        low_fast_list.append(np.nan)

In [11]:
cleaned_df.insert(0, 'Low Fast Finish' , low_fast_list)
cleaned_df.insert(0, 'Med Fast Finish' , med_fast_list)
cleaned_df.insert(0, 'High Fast Finish' , high_fast_list)

In [12]:
grouped_df = cleaned_df.groupby([cleaned_df['Horse']]).agg(
    **{
        # 'Best Finish (%)' : pd.NamedAgg(column = 'Finishing Speed (%)', aggfunc = 'max'),
        # 'Mean Finish (%)' : pd.NamedAgg(column = 'Finishing Speed (%)', aggfunc = 'mean'),
        # 'Worst Finish (%)' : pd.NamedAgg(column = 'Finishing Speed (%)', aggfunc = 'min'),
        # 'Std Finish (%)' : pd.NamedAgg(column = 'Finishing Speed (%)', aggfunc = 'std'),
        # 'Median Finish (%)' : pd.NamedAgg(column = 'Finishing Speed (%)', aggfunc = 'median'),
        'Best Speed (mph)' : pd.NamedAgg(column = 'Top Speed Value (mph)', aggfunc = 'max'),
        'Best Pos' : pd.NamedAgg(column = 'Position', aggfunc = 'min'),
        'Mean Pos' : pd.NamedAgg(column = 'Position', aggfunc = 'mean'),
        'Worst Pos' : pd.NamedAgg(column = 'Position', aggfunc = 'max'),
        'Std Pos' : pd.NamedAgg(column = 'Position', aggfunc = 'std'),
        'High Fast Finishes' : pd.NamedAgg(column = 'High Fast Finish', aggfunc = 'count'),
        'Med Fast Finishes' : pd.NamedAgg(column = 'Med Fast Finish', aggfunc = 'count'),
        'Low Fast Finishes' : pd.NamedAgg(column = 'Low Fast Finish', aggfunc = 'count'),
        'Num Races' : pd.NamedAgg(column = 'Position', aggfunc = 'count'), # Number of non-null position values (we have removed all null values)
    }
)

grouped_df['High Fast Races (%)'] = grouped_df['High Fast Finishes'] / grouped_df['Num Races']
grouped_df['Med Fast Races (%)'] = grouped_df['Med Fast Finishes'] / grouped_df['Num Races']
grouped_df['Low Fast Races (%)'] = grouped_df['Low Fast Finishes'] / grouped_df['Num Races']

In [13]:
grouped_df = grouped_df[['High Fast Races (%)', 'Med Fast Races (%)', 'Low Fast Races (%)', 'Best Speed (mph)',
                         'Best Pos', 'Mean Pos', 'Worst Pos', 'Std Pos', 'High Fast Finishes', 'Med Fast Finishes',
                         'Low Fast Finishes', 'Num Races']]

In [14]:
today_races = today_races[['Off Time', 'Track', 'Tips']]

today_races = today_races.join(grouped_df)

today_races = today_races.reset_index().set_index('Off Time')
today_races = today_races[['Track', 'Horse', 'High Fast Races (%)', 'Med Fast Races (%)', 'Low Fast Races (%)',
                           'Best Speed (mph)', 'Best Pos', 'Mean Pos', 'Worst Pos', 'Std Pos',
#                           'High Fast Finishes', 'Med Fast Finishes', 'Low Fast Finishes',
                           'Num Races', 'Tips']]

In [15]:
todays_date = pd.Timestamp.today().strftime('%d-%m-%Y')
today_races.round(2).to_csv('./Horse Data/horse_data_{:s}.csv'.format(todays_date))

In [16]:
today_races

,Track,Horse,High Fast Races (%),Med Fast Races (%),Low Fast Races (%),Best Speed (mph),Best Pos,Mean Pos,Worst Pos,Std Pos,Num Races,Tips
Off Time,,,,,,,,,,,,
13:30,Ripon,Dream More,0.0,0.0,0.5,40.20,3.0,3.0,3.0,0.000000,2.0,10 tips
13:30,Ripon,Hear The Drums,0.5,0.5,0.5,40.03,8.0,10.5,13.0,3.535534,2.0,1 tip
13:30,Ripon,Quantum Power,0.0,0.0,0.0,40.27,6.0,6.0,6.0,NaN,1.0,1 tip
13:30,Ripon,Dontwaste A Moment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13:30,Ripon,Howsham,0.0,0.0,0.0,38.08,15.0,15.0,15.0,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
20:13,Ballinrobe,Marsh Lady,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:13,Ballinrobe,Maximillian Lady,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20:13,Ballinrobe,Miss Jocund,0.0,0.0,0.0,36.63,3.0,3.0,3.0,NaN,1.0,1 tip
20:13,Ballinrobe,Mysilverriverfeale,0.0,0.0,0.0,36.03,5.0,5.0,5.0,NaN,1.0,NaN
20:13,Ballinrobe,The Fitter,0.0,0.0,0.0,35.45,14.0,14.0,14.0,NaN,1.0,NaN